/* add css module styles here (optional) */

.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.seeMoreImage ,.seeMoreImage>div>img{
  position: relative;
  width: 70px;
  height: 70px;
}
.zoomIcon {
  width: 15px;
    margin-right: 6px;
    margin-bottom: -3px;
}
.backgroundSeeMore  {
  position: absolute;
  width: 100%;
  top: 0;
    height: 100%;
    background-color: #00000094;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.image {
  width: 100%
}
.productImage {
  /* width: 100%; */
  padding: 10px
} 
.groupImages {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}
.images {
  display: flex;
flex-direction: column;
align-items: center;
}
.imagesReview {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.thumnail {
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 10px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  margin-bottom: 8px;
}
.selectedThumnail {
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding: 10px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(43 161 255);
  border-radius: 4px;
  margin-bottom: 8px;
}
.imageZoom {
  margin-left: 24px;
  text-align: center;
}